@model HustleBuddy_Web.Models.TradingStock

<form asp-action="UpdateTrading">
    <div class="modal-header">
        <h5 class="modal-title" id="add-view-editLabel">Update Trading Stock</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="productCode" type="hidden" />
        <input asp-for="stockId" type="hidden" />
        <input asp-for="sold" type="hidden" />
        <div class="form-group">
            <div class="row">
                <div class="col-6">
                    <label asp-for="quantity" class="control-label fw-bold mb-2">Quantity</label>
                </div>
                <div class="col-6">
                    <input asp-for="quantity" class="form-control" style="border: 1px solid mediumpurple;" />
                </div>
            </div>
            <span asp-validation-for="quantity" class="text-danger"></span>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary w-25" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success w-25">Update</button>
    </div>
</form>