@model HustleBuddy_Web.Models.Product

<form asp-action="Update">
    <div class="modal-header">
        <h5 class="modal-title" id="add-view-editLabel">Update Product</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="vendorId" />
        <input type="hidden" asp-for="productCode" />
        <input type="hidden" asp-for="costPrice" />
        <input type="hidden" asp-for="discountPrice" />
        <div class="form-group mb-2">
            <label asp-for="productName" class="control-label fw-bold mb-2">Product Name</label>
            <input asp-for="productName" class="form-control" style="border: 1px solid mediumpurple;" />
            <span asp-validation-for="productName" class="text-danger"></span>
        </div>
        <div class="form-group mb-2">
            <label asp-for="sellingPrice" class="control-label fw-bold mb-2">Selling Price</label>
            <input type="number" step="any" asp-for="sellingPrice" class="form-control" style="border: 1px solid mediumpurple;" />
            <span asp-validation-for="sellingPrice" class="text-danger"></span>
        </div>
        <div class="form-group mb-2">
            <label asp-for="description" class="control-label fw-bold mb-2">Description</label>
            <input asp-for="description" class="form-control" style="border: 1px solid mediumpurple;" />
            <span asp-validation-for="description" class="text-danger"></span>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary w-25" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success w-25">Update</button>
    </div>
</form>

