
@{
    ViewData["Title"] = "Statistic";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="card" style="border: 1px solid mediumpurple;">
    <div class="card-header">
        <h4>Statistics</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <iframe width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=00df69c8-2bf1-4ab2-ab93-41d9522c0d29&autoAuth=true&ctid=d8bf7c18-5725-4b9e-b118-13388f52e44e&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
        </div>
    </div>
</div>